/* Selector universal */
*{
    padding: 0;
    margin: 0;
}
/* Selector de etiqueta */
body{
    background-color: rgb(255, 255, 255);
    /* padding: 10px; */
}
/* Selector de etiqueta */
h1{
    color: yellowgreen;
    background-color: black;
}
/* Selector de etiqueta */
a{
    color: red;
    font-size: 40px;
}
/* Selector por ID */
#title{
    background-color: aqua;
}
/* Selector por clase */
.equals{
    color: azure;
    margin: 20px 10px 20px 30px;
    padding: 50px;
}
#nav{
    height: 80px;
    background-color: bisque;
}